header,
main,
footer {
  padding: 100px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bird {
  max-width: 400px;
  height: 400px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightcoral;
  min-height: 100vh;
}

.aboutMe {
  background-color: white;
  padding: 50px 50px 10px 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.links {
  display: flex;
  margin-left: auto;
  margin-right: 15px;
  gap: 20px;
  height: 50px;
  align-items: center;
}

.aboutMe > h2,
main > h1 {
  font-size: 4rem;
}
main > h1 {
  margin-bottom: 50px;
}
.aboutMe > p {
  font-size: 2rem;
}

.img-container {
  min-width: 40%;
  min-height: 700px;
  background-image: url(./assets/about-picture.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  aspect-ratio: 1;
  display: flex;
  font-size: 3rem;
  align-items: flex-end;
  color: white;
  justify-content: center;
}

@media (max-width: 600px) {
  header {
    flex-direction: column;
  }
  .aboutMe {
    align-items: center;
  }
  header,
  main,
  footer {
    padding: 50px;
  }
  footer {
    flex-direction: column;
    align-items: center;
    padding: 0px;
    margin: 0px;
  }
  .footer-image-container {
    width: 100%;
  }

  .contact-info,
  .aboutMe > p {
    font-size: 1.7rem !important;
    width: 100% !important;
  }
  .contact-info > h2,
  .aboutMe > h2 {
    font-size: 3rem !important;
  }
}

@media (max-width: 1200px) {
  header,
  main {
    padding: 20px;
  }

  header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .img-container {
    width: 70%;
    height: 50%;
  }
  footer {
    flex-direction: column;
    align-items: center;
  }
  .footer-image-container {
    width: 100%;
    margin: auto;
  }
  footer {
    padding: 10px;
  }
  .contact-info {
    width: 60%;
  }

  .footer-links {
    margin: auto;
  }
  .contact-info > h2 {
    margin: auto;
  }
}
.card-container {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  gap: 20px;
  place-items: center;
}
.card {
  display: flex;
  flex-direction: column;
  height: 450px;
  gap: 15px;
  max-width: 500px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
}
.project-title,
.description {
  padding-inline: 20px;
}
main > h1 {
  text-align: center;
}
.project-title {
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.description {
  font-size: 1.2rem;
}
.project-image {
  height: 260px;
  background-color: lightblue;
}
.project-links {
  display: flex;
  gap: 10px;
}
.project-links > a > img {
  width: 27px;
  height: 27px;
}
.project-links > a > svg {
  width: 27px;
  height: 27px;
}
footer {
  display: flex;
  background-color: lightblue;
}
.footer-image-container {
  background-image: url(assets/about-picture.jpg);
  width: 700px;
  min-height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.contact-info {
  display: flex;
  flex-direction: column;
  gap: 40px;
  font-size: 2.3rem;
  min-width: 40%;
}
.contact-info > h2 {
  font-size: 4rem;
}

.number > svg,
.mail > svg {
  width: 48px;
  height: 48px;
}

.number,
.mail {
  display: flex;
  align-items: center;
  gap: 20px;
}
.footer-links > a > svg {
  width: 50px;
  height: 50px;
}
.footer-links {
  display: flex;
  gap: 40px;
}
